@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.navbar{
    z-index: 999;
    position: fixed;

}

.navhb{
    height: 30px;
    background-color:transparent;
    border: none;
    
}

.home{
  height: auto;
}

.Homebg1{
    background-image: url("../public/Background/bg1.png");
    background-size: 110%;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top,center;
}

.homesmbg1{
    background-image: url("../public/Background/bgsm1.png");
    width: 100%;
    height: 550px;
    background-position: top,center;
    /* background-repeat:no-repeat ; */
    background-size: 155%;
}

.Homebg2{
    background-image: url("../public/Background/bg2.png");
    background-size: 122%;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top,center;
}

.smbg2{
    background-image: url("../public/Background/bgsm3.png");
}
.Homebg3{
    background-image: url("../public/Background/bg3.png");
    background-size: 113%;
    width: 100%;
    height: 80vh;
    background-position: top,center;
    background-repeat: no-repeat;

}

.smbg3{
    background-image: url("../public/Background/bgsm2.png");
}

.homeh2{
    font-family: "Fredoka", cursive;
    font-size: 8vh;
    font-weight: 700;
    /* border: 2px solid red; */
}

.ablgus{
    font-family: "Fredoka", cursive;
    font-size: 8vh;
    font-weight: 700; 
}

.smhh2{
    font-size: 7vh;
}


.posism{
    width: 100%;

    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.568);
}

.wid{
    width: 80%;
    margin-top: 150px;
}

.posi{
    position: relative;
    top: 15%;
    left: 25%;
    width: 35%;
}

.homep1{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding-top: 7%;
}

.abp1{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.homebtn{
    width:120px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(249, 116, 68);
    color: white;
    border: none;
}

.posi1{
    position: relative;
    top: 15%;
    left: 10%;
    width: 30%;
}

.homebg4{
    height: 600px;
     
}

.homebg5{
    background-image: url(../public/Background/pattern-bg.png);
    height: 70vh;
    /* border: 2px solid green; */
}

.about{
    top: 25%;
}

.aboutus{
    background-image: url(../public/Background/pattern-bg.png);
    height: 50vh;    
}

.abgrids{
    
}

.abgrid1{
    margin-top: 50px;
    background-image: url(../public/Background/abgrid01.jpg);
    height: 400px;
    background-size: cover;
    background-position:center ;
    border-radius: 30px 0 30px 0;

}

.abg2{
    background-image: url(../public/Background/abgrid02.jpg);
}

.abg3{
    background-image: url(../public/Background/abgrid03.jpg);
}

.abgrid4{
    background-image: url(../public/Background/abgrid04.jpg);
    border-radius: 30px;
}

.abpaw{
    font-size: 30px;
}

.namimg{
    border-radius: 20px;
}

.name{
    font-size: 20px;
}

.ftbg{
    background-color:#FFC312;
    height: 330px;
    z-index: -1;
}

.grid1{
    background-image: url(../public/Background/grid01.png);
    height: 40vh;
    /* width: 90vh; */
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 60vh;
    /* border: 2px solid green; */
}

.grid2{
    background-image: url(../public/Background/grid02.png);

    
}

.grid1h{
    width: 100%;
    font-family: "Fredoka", cursive;
    font-size: 3vh;
    font-weight: 700;
}

.ingrid{
    /* border: 2px solid red; */
    padding: 2px;
    top: 20%;
    left: 50%;
}

.ingrid1{
    padding: 2px;
    top: 10%;
    right: 40%;
   /* border: 2px solid red; */
}

.ingrid1p{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}

.wave{
    background-image: url(../public/Background/wave.png);
    width: 100%;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.bgblk{
    background-color: #232121;
    height: auto;
    /* background-repeat: no-repeat; */
}

.ftp1{
    font-family: "Fredoka", cursive;
    font-size: 18px;
    color: white;
}

.homeinpt{
    background-color: #232121;
    border-bottom:2px solid white;
    height: 50px;
    /* width: 500px; */
    width: 60%;
    /* border: none; */
}

.homebtn2{
    background-color: #232121;
    height: 50px;
    width: 100px;
    color:#FFC412;
    font-size: 5vh;
    font-weight: 500;
    font-family: "Fredoka", cursive;
    border: none;  
}

@media (min-width:768px){
    
    .posi{
       top: 30%; 
    }
    
    .ablgus{
        font-size: 40px;
    }
    
    .about{
        top: 30%;
    }
    
    .posi1{
        top: 30%;
    }
    
    .abgrid1 {
        height: 720px;
    }
    
    .abg2, .abg3{
        height: 350px;
    }
    
    .abg3{
        margin-top: 20px;
    }
    
    
.homeh2{
    font-size: 5vh;
}

.homebg4{
    bottom: 15vh;
    position: relative;
     z-index: -1; 
}

.homebg5{
    height: 90vh;
}

.grid1{
    width: 70%;
    bottom: 70vh;
    height: 60vh; 
}

.grid1h{
    font-size: 6vh;
}

.ingrid{
    top: 25%;
}
.ingrid1{
    top: 20%;
}

.homebg4{
    height: 700px;
    /* border: 2px solid red; */
}

.wave{
    height: 100px;
}

.bgblk{
    /* border: 2px solid red; */
}

.ftbg{
    height: 380px;
}
}

@media (min-width:992px){

    .ablgus{
        font-size: 50px;
    }
    
    .ftbg{
        height: 420px;
    }
    
.home{
    height: 135vh;
}

    .homebg5{
        height: 50vh;
    }

    .ingrid{
        top: 15%;
    }

    .ingrid1{
        top: 15%;
    }

    .grid1{
        bottom: 20vh;
    }

    .grid1h{
        font-size: 4vh;
    }
    
  
}

@media (min-width:1024px) {
    
    
    
    .home{
        height: 170vh;
    }
    
    .Homebg1,.Homebg2,.Homebg3{
        height: 120vh;
    }
    
    .homeh2{
        font-size: 12vh;
    }
    
    .name{
        font-size: 30px;
    }
    .abpaw{
        font-size: 30px;
    }
    .posi{
        top: 25%;
        width: 30%;
    }
    
    .posi1{
        top: 25%;
    }
   
    .homebg4{
        bottom: 35vh;
    }
    
    .homebg5{
        height: 55vh;
    }
    
    .wave{
        height: 200px;
    }
     .ftbg{
        height: 550px;
     }
    
    .ingrid{
        top: 25%;
    }
    
    .grid1h{
        font-size: 7vh;
    }
}