.pg{
    border-right: 1px solid skyblue;
}

.wrap{
     background-color: #F5F7FA; 
}

.data-sec,.app1{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
}

.app2,.app3{
    background-color: white;
    border-radius: 20px;
}

.data2{
    color: #EF5DA8;
}

.data4{
    color: #BD8CEA;
}


.main{
    overflow: hidden;
}

.charts{
    position: relative;
   height: 70px;
   width: 70px;

}
.wrapper{
   
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
} 
.wrapper span{
    font-weight: 600;
}

.charts2{
    position: relative;
   height: 70px;
   width: 70px;

}
.wrapper2{
   
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
} 
.wrapper2 span{
    font-weight: 600;
}


.charts3{
    position: relative;
   height: 70px;
   width: 70px;

}
.wrapper3{
   
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
} 
.wrapper3 span{
    font-weight: 600;
}


.charts4{
    position: relative;
   height: 70px;
   width: 70px;

}
.wrapper4{
   
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
} 
.wrapper4 span{
    font-weight: 600;
}

@media(min-width:1024px){
    .app2{
        height: 340px;
    }

    .app3{
        height: 400px;
    }
}