@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.header{
    top: 0;
    background-color: white;
    z-index: 999;
}
.homesec{
   background-color: rgb(254, 248, 248); 
    padding-top: 80px;
}

.slider{
    position: relative;
    bottom: 40px;
    
}

.herosec{
    clip-path: polygon(0 95%, 100% 8%, 100% 100%, 0% 100%);
    background-color: #DD0005;
    position: relative;
    top: 250px;
    height: 150px;
}

.car{
    width: 100%;
}

.logo{
    margin: 15px;
    margin-left: 25px;
}

.logosm{
   
}

.fonthero{
    font-size: 40px;
    color: #000000;
    font-family: "Lexend Deca", Sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    font-weight: 700;
    position: relative;
    bottom: 20px;
}

.red{
    color: #DD0005;
    position: relative;
    bottom: 50px;
}

/* .bkg{
    background-color: rgba(254, 248, 248, 0.393); 

} */

.selectcatery{
    padding-top: 200px;
    background-color: white;
    width: 85%;
    box-shadow:10px 10px 10px 2px rgba(128, 128, 128, 0.199);
}

.custom-select {
    width: 100%;
  }
  
  .custom-select select {
    appearance: none;
    width: 100%;
    padding: 14px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000000;
    font-family: "Lexend Deca", Sans-serif;
    cursor: pointer;
  }
  
  .arrow{
    background-color: #fc2d31;
    height: 65PX;
    width: 65PX;
    clip-path: polygon(0 0, 49% 0, 99% 100%, 0% 100%);
  }
  
  .fmc_btn{
    font-family: "Lexend Deca", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 65px;
    text: white;
    background-color: #DD0005;
    border: none;
}

.h{
    font-family: "Lexend Deca", Sans-serif;
font-size: 13px;    
line-height: 1.7em;
color: #0000009E;
letter-spacing: -0.02em;
}

.para1{
    font-family: "Lexend Deca";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: capitalize;
}

.red1{
    color: #DD0005;
    border-bottom:3px solid #DD0005 ;
}

.para3{
    font-size: 20px;
    font-weight: 500;
}

.carousel1{
    background-color: rgb(254, 248, 248); 
    

}
.carousel1con{
    background-color: white;
    margin: 2px;
}
.p1{
    color: #222;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    font-family: "Lexend Deca", Sans-serif;
}

.p2{
    color: #222;
    font-size: 12px;
    line-height: 19px;
    position: relative;
    bottom: 15px;
}

.red2{
    color: #DD0005;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Lexend Deca", Sans-serif;
}

.rate{
    color: #222;
    font-size: 15px;
    line-height: 19px;
}

.backg{
    background-color: rgba(218, 165, 32, 0.121)
}

.sec3h{
    font-size: 17px;
    color: #222;
}

.sec4bg{
    background-image: url("../public/group2.jpg"); 
    height: 500px;
   max-width: 350px;
    background-size: cover;
    background-position: center;
}

.img2{
    box-shadow: 20px -20px   white;
    position: relative;
    top: 300px;
    right: 10px;
}

.sec4font{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2em;
}

.red3{
    color: #DD0005;
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.sec4p2{
    font-family: "Roboto", sans-serif;
        font-size:14px;
        font-weight: 400;
        text-align: left;
        color: #000000DE;
}

.sec4btn{
    border:1px solid #DD0005;
    background-color: white;
    padding: 10px;
}

.sec4arrow{
    background-color:#DD0005;
    height: 45PX;
    width: 45PX;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    position: relative;
    right: 16px;
}

.Sec5{
    background-image: url("../public/featured-bg.png");
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    height: 650px;
}

.Sec5img1{
    background-image: url("../public/contact2.jpg");
    height: 500px;
    width: 60%;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 120px;
}

.pd{
    padding: 100px;
}

.Sec5img2{
    background-image: url("../public/contact1.jpg");
    width:50%;
    height: 350px;
    position: relative;
    bottom: 250px;
    background-position: center;
}

.green{
    color: #71B774;
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.sec5arrow{
    background-color: #71B774;
}

.sec5btn{
    border:1px solid #71B774;
}

@media (min-width:992px){
   
    .herosec{
        top:530px;
        height: 200px;
    }
    
    .fonthero{
        font-size: 60px;
    }
    
}